<header class="forest_nav">
    <div class="nav06 w-nav">
        <div class="nav06_container">
            <nav role="navigation" class="nav06_left w-nav-menu">
                <div class="nav06_drop w-dropdown">
                    <div class="nav06_toggle w-dropdown-toggle"
                         id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/img/more-dots.svg" width="16" alt="" class="nav06_icon" />
                    </div>
                    <nav class="dropdown-menu nav06_list w-dropdown-list" aria-labelledby="dropdownMenuButton">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav06_links w-inline-block">
                            <div class="nav06_text">Sign In</div>
                        </a>
                        <a asp-area="Identity" asp-page="/Account/Register" class="nav06_links w-inline-block">
                            <div class="nav06_text">Sign Up</div>
                        </a>
                    </nav>
                </div>
            </nav>
            <a href="#" class="nav06_logo_link w-nav-brand">
                <img src="~/img/logo.svg" width="120" alt="" class="nav06_logo" />
            </a>
            <div class="nav06_right">
                <div class="nav06_menu w-nav-button">
                    <div class="nav06_menu_icon w-icon-nav-menu"></div>
                </div>
                <a href="#" class="nav06_search w-inline-block">
                    <img src="https://assets.website-files.com/5cbc1cadfad96c3229989372/5cbc1cadfad96c3b839894e7_phone.svg"
                         alt="" class="nav06_search_icon" />
                </a>
            </div>
        </div>
    </div>
</header>